<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Индивидуальное задание, Часть 1</title>
    <link rel="stylesheet" href="../../../static/main/css/no_style.css"> 

    <style>
        .str1 {
            color: yellow;
        }
        .str4 {
            float: right;
        }
    </style>

</head>


<body>
    <aside>
            
            <h3>Мои задания:</h3>
            <ul>
                <li><a href="1.html">Часть 1</a></li><br>
                <li><a href="2.html">Часть 2</a></li><br>
            </ul>    
            
    </aside>

    <div class = "header">
        <p><a href="../main.html"><img src="../../../../main/static/main/img/home.png"  height= 30px > </a> </p>
    </div>  


    <div class="str1">
        <p>- Number, please.</p>
    </div>
    <div class="str2">
        <p>- I'd like to make a long-distance call to Minsk +375172777222. Make it personal, please.</p>
    </div>
    <div class="str3">
        <p><del><i>- Who do you want to speak to?</i></del></p>
    </div>
    <div class="str4">
        <h1>- Sergei.</h1>
    </div><br>
    <div class="str5">
        <p>- What is you number <br>, please?</p>
    </div>
    <div class="str6">
        <p>- <red>This</red> <blue>is</blue> <brown>Ivanov.</brown> <red>My</red> <blue>room</blue> <brown>is 201,</brown> <pre>the Forum Hotel.</pre></p>
    </div>
    <br> 

    
    <h3>Пункт 1</h3>
    <ol>
        <li>Пункт 2.1
            <ol>
                <li>Пункт 2.1.1</li>
                <li>Пункт 2.1.2</li>
            </ol>
        </li>
        <li>Пункт 2.2
            <ol>
                <li>Пункт 2.2.1</li>
                <li>Пункт 2.2.2</li>
            </ol>
        </li>
    </ol>

    <p>Пункт 2</p>
    <ul>
        <li>Пункт 2.1
            <ul>
                <li>Пункт 2.1.1
                    <ul>
                        <li>Пункт 2.1.1.1</li>
                        <li>Пункт 2.1.1.2</li>
                        <li>Пункт 2.1.1.3</li>
                    </ul>
                </li>
                <li>Пункт 2.
                    <ol>
                        <li>Пункт 2.1.2.1</li></ol>
                        <li>Пункт 1.2.2</li>
                    </ul>
                </ul>
                        <li>Пункт 1.2.3</li>
            </ul>
        </li>
    </ul>
    

</body>
</html>
