<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблицы</title>
    <link rel="stylesheet" href="../../../static/main/css/python.css"> 
</head>

<body class="light-theme">
    <aside>  
        <span class="logo">Day 2</span> <br> <br>
        <h3>Мои работы:</h3>
        <ul>
            <li><a href="tables.html">Tables</a></li><br>  
        </ul>   
    </aside>


    <div class = "header">
        <p><a href="../main.html"><img src="../../../../main/static/main/img/home.png"  height= 30px > </a> </p>
        <button class="theme" id="theme"><img src="../../../../main/static/main/img/sun.png" height= 30px id="theme-icon"></button>
    </div>

    <h1>Домашняя работа</h1>
    
    <h2>Содержание</h2>

    <ul>
                    <li><a href="#table">Таблицы</a></li>
                        <ul>
                            <li><a href="#my_birth">Месяц моего рождения</a></li>
                            <li><a href="#weather">Прогноз погоды</a></li>
                            
                        </ul>
                     



    <hr>

    <a name="table"><h2>Таблицы</h2></a>

    <a name="my_birth"><h2>Месяц моего рождения</h2></a>
    <form class="form">
        <table class="table" border="1"  width="400" height="400">
            
            <tr>
                <th colspan="7">Май 2025</th>
            </tr>
            <tr>
                <td width="40" height="40"> <b>Пн</b></td>
                <td  width="40" height="40"> <b>Вт</b></td>
                <td  width="40" height="40"> <b>Ср</b></td>
                <td  width="40" height="40"> <b>Чт</b></td>
                <td  width="40" height="40"> <b>Пт</b></td>
                <td  width="40" height="40"> <b>Сб</b></td>
                <td  width="40" height="40"> <b>Вс</b></td>
            </tr>
            <tr>
                <td width="40" height="40"></td>
                <td width="40" height="40"></td>
                <td width="40" height="40"></td>
                <td width="40" height="40">1</td>
                <td width="40" height="40">2</td>
                <td width="40" height="40">3</td>
                <td width="40" height="40">4</td>
            </tr>
            <tr>
                <td width="40" height="40">5</td>
                <td width="40" height="40">6</td>
                <td width="40" height="40">7</td>
                <td width="40" height="40">8</td>
                <td width="40" height="40">9</td>
                <td width="40" height="40">10</td>
                <td width="40" height="40">11</td>
            </tr>
            <tr>
                <td width="40" height="40" >12</td>
                <td width="40" height="40" >13</td>
                <td width="40" height="40" >14</td>
                <td width="40" height="40" >15</td>
                <td width="40" height="40" >16</td>
                <td width="40" height="40" >17</td>
                <td width="40" height="40" >18</td>
            </tr>
            <tr>
                <td width="40" height="40">19</td>
                <td width="40" height="40">20</td>
                <td width="40" height="40">21</td>
                <td width="40" height="40">22</td>
                <td width="40" height="40">23</td>
                <td width="40" height="40">24</td>
                <td width="40" height="40">25</td>
            </tr>
            <tr>
                <td width="40" height="40">26</td>
                <td width="40" height="40">27</td>
                <td width="40" height="40">28</td>
                <td width="40" height="40">29</td>
                <td width="40" height="40">30</td>
                <td width="40" height="40">31</td>
                <td width="40" height="40"></td>
            </tr>
        </table>
    </form>

    <a name="weather"><h2>Прогноз погоды</h2></a>

    <div class="forma">
    <form class="form">
        <table class="table" border="1" width="300" height="200">
            
            <tr>
                <th><b>Город</b></th>
                <th><b>Утро</b></th>
                <th><b>День</b></th>
                <th><b>Вечер</b></th>
                <th><b>Ночь</b></th>
            </tr>
            <tr>
                <td><b>Минск</b></td>
                <td>1&deg;</td>
                <td>2&deg;</td>
                <td rowspan="2">0&deg;</td>  
                <td>-5&deg;</td>
            </tr>
            <tr>
                <td><b>Бобруйск</b></td>
                <td><nobr>0&deg;</nobr></td>
                <td><nobr>+2&deg;</nobr></td>
                <td><nobr>-6&deg;</nobr></td>
            </tr>
        </table>
    </form>
</div>
<script src="../../script.js"></script>
</body>
</html>