<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bealotskaya</title>
    <link rel="stylesheet" href="../../static/main/css/main.css"> 
</head>

<body>
    <aside>
        <span class="logo">WEB</span>
        <h3>Мои работы:</h3>
        <ul>
            <li><a href="python/index1.html">Python</a></li><br>
            <li><a href="table/tables.html">Day 2</a></li><br>
            <li><a href="frames/index.html">Day 3</a></li><br>
        </ul>    
    </aside>

    <h1>Bealotskaya</h1>
    
    