<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bealotskaya</title>
    <link rel="stylesheet" href="../../static/main/css/frames.css"> 
</head>

<body>

    <aside>
        <span class="logo">WEB</span>
        <h3>Мои работы:</h3>
         <ul>
            <li><a href="python/index1.html">Python</a></li><br>
            <li><a href="table/tables.html">Day 2</a></li><br>
            <li><a href="frames/index.html">Day 3</a></li><br>
            <li><a href="day5/block.html">Day 5</a></li><br>
        </ul>
    </aside>

    <h1>Bealotskaya</h1>

    <h2>Календарь практики</h2>
    <form class="form">
        <table class="table" border="1"  width="400" height="400">
            <tr>
                <td  width="40" height="40"> № дня </td>
                <td width="40" height="40"> Дата</td>
                <td  width="40" height="40"> Тема</td>
            </tr>
            <tr>
                <td width="40" height="40"><a href="python/index1.html">1</a></td>
                <td width="40" height="">10.03.25</td>
                <td width="40" height="">Теги и атрибуты</td>
            </tr>
            <tr>
                <td width="40" height="40"><a href="python/index1.html">1</a></td>
                <td width="40" height="">11.03.25</td>
                <td width="40" height="">Отладка индивидуального задания</td>
            </tr>
            <tr>
                <td width="40" height="40"><a href="table/tables.html">2</a></td>
                <td width="40" height="">12.03.25</td>
                <td width="40" height="">Html. Таблицы, ссылки, медиа</td>
            </tr>
            <tr>
                <td width="40" height="40"><a href="table/tables.html">2</a></td>
                <td width="40" height="">13.03.25</td>
                <td width="40" height="">Отладка индивидуального задания</td>
            </tr>
            <tr>
                <td width="40" height="40"><a href="frames/index.html">3</a></td>
                <td width="40" height="">14.03.25</td>
                <td width="40" height="">Html. Формы, фреймы</td>
            </tr>
            <tr>
                <td width="40" height="40"><a href="frames/index.html">3</a></td>
                <td width="40" height="">15.03.25</td>
                <td width="40" height="">Отладка индивидуального задания</td>
            </tr>
            <tr>
                <td width="40" height="40">4</td>
                <td width="40" height="">17.03.25</td>
                <td width="40" height="">Внутренние и внешние таблицы стилей</td>
            </tr>
            <tr>
                <td width="40" height="40">4</td>
                <td width="40" height="">18.03.25</td>
                <td width="40" height="">Отладка индивидуального задания</td>
            </tr>
            <tr>
                <td width="40" height="40">5</td>
                <td width="40" height="">19.03.25</td>
                <td width="40" height="">Блочная верстка сайта</td>
            </tr>
            <tr>
                <td width="40" height="40">5</td>
                <td width="40" height="">20.03.25</td>
                <td width="40" height="">Отладка индивидуального задания</td>
            </tr>
            <tr>
                <td width="40" height="40">6</td>
                <td width="40" height="">21.03.25</td>
                <td width="40" height="">Фреймворк bootstrap. Modul jOuery</td>
            </tr>
            <tr>
                <td width="40" height="40">6</td>
                <td width="40" height="">22.03.25</td>
                <td width="40" height="">Зашита проекта</td>
            </tr>
        </table>
    </form>
    
    <br>
    <br>

    <fieldset> 
        <legend>Скачать отчёт по практике</legend>
        <a href="../../../../main/static/main/pdf/Отчет_веб_разработка.docx">Нажми тут</a>    
    </fieldset>
   
    <br>
    <br>
    <br>
    <br>

</body>  