<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пример HTML</title>
    <link rel="stylesheet" href="../../../static/main/css/python.css">  
</head>

<body>
    <aside>
        <img src="../../../../main/static/main/img/Icon-Python.png" alt="Лого" >
        <span class="logo">Python</span>
        <h3>Программа на Python:</h3>
        <ul>
            <li><a href="index1.html">Часть 1</a></li><br>
            <li><a href="index2.html">Часть 2</a></li><br>
            <li><a href="index3.html">Часть 3</a></li><br>
            <li><a href="add.html">Add</a></li><br>
            <li><a href="primer.html">Primer</a></li><br>
        </ul>    
       
</aside>


<p><a href="../main.html"><img src="../../../../main/static/main/img/home.png"  height= 30px > </a> </p>

    <h1>Заголовок первого уровня</h1>

    <fieldset> 
        <legend><h3>Предварительно форматированный текст:</h3></legend>
        <pre>
            x | o | 
            ---------
            | х | 
            ---------
            o | x | o
        </pre>
   </fieldset>
   

    <fieldset> 
        <legend><h3>Teg adress</h3></legend>
        <address>
            Kuprevicha, 11, 220141, Minsk, Belarus. Phone: +375.17.2686911
        </address>
    </fieldset>
    
    
    <fieldset> 
        <legend><h3>Семантические и функциональные строчные теги</h3></legend>
        <p>Пожелания автора: <br> <del>Данный текст убрать из монографии</del> и заменить его <ins>на вновь помещённый текст</ins></p>
    </fieldset>

    <fieldset> 
        <legend><h3>Работа со строчными и блочными цитатами</h3></legend>
        <p>Цитата короткая: <br>
            <q><em>И всётаки она вертится!</em></q>
        </p>
        <p>Цитата занимающая несколько предложений:</p>
        <pre><blockquote> 
            О сколько нам открытий чудных
            Готовят просвещенья дух
            И опыт, сын ошибок трудных,
            И гений, парадоксов друг,
            И случай, бог изобретатель..</blockquote>
        </pre>
    </fieldset>
    
    <fieldset> 
        <legend><h3>Семантические и функциональные строчные теги</h3></legend>
        <p><strong>Тег &lt;STRONG&gt; для выделения фрагмента текста более важным</strong>. <em>Тэг &lt;em&gt; менее
                важным</em>.
            В то время как теги &lt;b&gt; и &lt;i&gt; делают текст просто <b>полужирным</b> и <i>курсивом</i>
            соответственно.
        </p>
    </fieldset>
      
    <fieldset> 
        <legend><h3>Теги для обозначения машинного языка</h3></legend>
        <p>Пример программы на языке PERL:</p>
        <code>
            #!/usr/local/bin/perl <br>
            print "Content-type: text/html\n\n"; <br>
            print "Hello, world!\n"; <br>
        </code>
        <p>Программа выведет:</p>
        <samp>Hello, World!</samp>
        <p>Однако в браузере у нас будет отображаться результат выполнения этой программы:</p>
        <h1>Hello, World!</h1>
    </fieldset>
    
    <fieldset> 
        <legend><h3>Комментарии и литералы(мнемоники) в HTML</h3></legend>
        <code><p>&lt;!-- это комментарий --&gt; <br>
            <br>
            &lt;!-- <br>
            и это также комментарий,
            занимающий более одной строки <br>
            --&gt;
        </p></code>
    </fieldset> 
    
    <fieldset> 
        <legend><h3>Теги над и подстрочных символов</h3></legend>
        <h4>Магазин работает:</h4>
        <p>с 08<sup><ins>30</ins></sup> до 18<sup><ins>30</ins></sup></p>
        <p>обед с 13<sup><ins>00</ins></sup> до 14<sup><ins>00</ins></sup></p>
        <p>выходной: <u>суббота</u>, <u>воскресенье</u></p>
    </fieldset>   

    <fieldset> 
        <legend><h3>Вот такой текст</h3></legend>
        <p><strong>Э о р с о е ё ы т к т<br>т п о т в с л й е с</strong></p>
    </fieldset>
    
    <fieldset> 
        <legend><h3>Акроним и курсив</h3></legend>
        <p>ТФ: Y(x) = e<sup><em>-iπx</em></sup> + log<sub><em>x</em></sub>4</p>
    </fieldset>

    <br>
    <p><small>Создано при помощи блокнота &copy;</small></p>

</body>
</html>