<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML: Теги и атрибуты</title>
    <link rel="stylesheet" href="../../../static/main/css/python.css"> 
</head>

<body>
    <aside>
        <img src="../../../../main/static/main/img/Icon-Python.png" alt="Лого" >
        <span class="logo">Python</span>
        <h3>Программа на Python:</h3>
        <ul>
            <li><a href="index1.html">Часть 1</a></li><br>
            <li><a href="index2.html">Часть 2</a></li><br>
            <li><a href="index3.html">Часть 3</a></li><br>
            <li><a href="add.html">Add</a></li><br>
            <li><a href="primer.html">Primer</a></li><br>
        </ul>  
          
    </aside>


    <div class = "header">
        <p><a href="../main.html"><img src="../../../../main/static/main/img/home.png"  height= 30px > </a> </p>
    </div>  
    <h1>Домашняя работа</h1>
    
    <h2>Содержание</h2>

    <ul>
        <li><a href="#day1">День 1</a>
            <ul>
                <li><a href="#html">HTML: теги, атрибуты, семантика</a></li>
                    <ul>
                        <li><a href="#razmetka">Разметка</a></li>
                        <li><a href="#atribut">Атрибуты</a></li>
                        <li><a href="#polza1">Полезные одиночки</a></li>
                        <li><a href="#block">Блоки</a></li>
                        <li><a href="#literal">Литералы/Мнемоник</a></li>
                    </ul>
                </li> 
                <br> 
    </ul>
            

    <a name="day1"><h2>День 1</h2></a>

    
    <a name="html"><h2>HTML: теги, атрибуты, семантика</h2></a>

    <fieldset> 
        <legend><h3>Предварительно форматированный текст:</h3></legend>    
    <a name="razmetka"><h2>Разметка</h2></a>
    

     <ul>
        <li><strong>&lt;DIV align=”center”&gt;</strong>Это текст, содержащийся в блоке<strong>&lt;/DIV&gt;</strong></li>
            - <strong>DIV</strong>- название тега.</ins><br>
            - <strong>&lt;DIV align=”center”&gt;</strong>    - открывающая часть тега.<br>
            - <strong>align=”center”</strong> - пара “атрибут тега = значение”.<br>
            - <strong>&lt;/DIV&gt;</strong>- закрывающая часть того же тега.<br>
        </ul>
        <hr>


    
    <a name="atribut"><h2>Атрибуты</h2></a>

    <ul>
        <li><strong>align</strong> (выравнивание)</li>
        <li><strong>id</strong> (присваивание “метки” объекту)</li>
        <li><strong>title</strong> (работает при наведении мыши)</li>
            - &lt;div title=“Заголовок слоя”&gt; Содержимое слоя&lt;/div&gt;</ins><br>
            - &lt;td align=“center” valign=“top”&gt; Текст ячейки&lt;/td&gt;</ins><br>
       </ul>      
     
    <hr>

  
    <a name="polza1"><h2>Полезные одиночки</h2></a>


        <ul>
            <li><strong>&lt;br&gt;</strong></ins></li>
            <li><strong>&lt;hr&gt;</strong></ins></li>
        </ul>
    <hr>

   
    <a name="block"><h2>Блоки</h2></a>

    <ul>
        <li>&lt;H1&gt;Заголовки 1…6&lt;/H1&gt;</li><br>
        <li>&lt;P&gt;Абзац&lt;/P&gt;</ins></li><br>
        <li>&lt;UL&gt;           &lt;!--Список начало --&gt;</li>
            - &lt;LI&gt;Text&lt;/LI&gt;             &lt;!--Элемент списка --&gt;<br>
            - &lt;LI&gt;Text&lt;/LI&gt;             &lt;!--Элемент списка --&gt;<br><br>
        <li>&lt;/UL&gt;             &lt;!--Список конец --&gt;</li><br>
        <li>&lt;PRE&gt;Предварительно форматированный текст&lt;/PRE&gt;</ins></li><br>
        <li>&lt;ul&gt;</li>
            - &lt;li&gt;Элемент 1&lt;/li&gt;<br> 
            - &lt;li&gt;Элемент 2&lt;/li&gt;<br>
            - &lt;li&gt;Элемент 3&lt;/li&gt;<br><br>
        <li>&lt;/ul&gt;</li><br>
        <li>Открыващийся тег с нвой строки:</li>
            - &lt;p&gt;Это абзац состоящий из нескольких строк&lt;/p&gt;<br> 
            - &lt;h3&gt;Это заголовок&lt;/h3&gt;<br> <br>
    </ul>
   
    <hr>

    
    <a name="literal"><h2>Литералы/Мнемоник</h2></a>
    <ul>
        <li>Символа нет на клавиатуре</li>
            - Знаки валют, спецсимволы 
        <li>Неоднозначное отображение</li>
            - Длинное/короткое тире, кавычки 
        <li> Отображение кода HTML на странице</li>
        <li> Форматированный ввод</li>
        <li> amp;</li>
        <li><a href="http://www.ascii.cl/htmlcodes.htm">http://www.ascii.cl/htmlcodes.htm</a></li>
    </ul>
    
    <hr>


</body>
</html>