body {
    background: #363636;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serifs;
    
}

h1 {
    text-align: center;
    font-family: "PIXY";
}

p, h2, h3, ul {
    text-align: left;
    margin-top: 20px;
    margin-left: px;
}

aside {
    float: left;
    background: #38429b;
    width: 10%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #000000;
    font-family: "PIXY";
   
}

aside  h2 {
    margin-left: 0px;
    color: #fff;
}
aside ul {
    margin-left: 0px;
    color: #d6d6d6;
    text-decoration: none;
}

aside a:visited {
    color: #d6d6d6; 
}

aside a:hover {
    color: rgb(117, 117, 117); 
}


aside a:active {
    color: rgb(0, 0, 0); 
}

aside img {
    
    float: left;
}

aside .logo {
    color: #ffffff;
    font-size: 33px;
    font-family: "PIXY";
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

code{
    font-family: Courier New, monospace;
    color: #36a2e8;
    
}

@font-face {
    font-family: "PIXY"; 
    src: url(../fonts/PIXY/PIXY.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 