body {
    background: #363636;
    color: #ffffff;
    font-family: "Podkova";
    margin-left: 235px;
}

h1 {
    text-align: center;
    font-family: "PIXY";
    padding: 2.5%;
}

h2, h3 {
    font-family: "PIXY";    
}

p, h2, h3, ul {
    text-align: left;
    margin-top: 20px;
    
    width: 85%;
}



aside {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 200px; 
    height: 100%; 
    /*height: 150vh;*/
    background: #38429b;
    /*width: 15%;*/
    color: #fff;
    border-right: 5px solid #000000;
    font-family: "PIXY";
    text-decoration: none;
    padding: 10px; /* Отступы внутри бокового меню */

}

aside  h2 {
   
    margin-left: 0px;
    color: #fff;
    width: 15%;
}
aside ul {
    margin-left: 0px;
    color: #d6d6d6;
    text-decoration: none;
    text-align: left;
    font-size: 14px ;
}

aside a:link {
    color: #d6d6d6; 
    text-decoration: none;
}

aside a:visited {
    color: #d6d6d6; 
    text-decoration: none;
}

aside a:hover {
    color: rgb(117, 117, 117); 
    text-decoration: none;
}


aside a:active {
    color: rgb(0, 0, 0); 
    text-decoration: none;
}

a:link {
    color: #d6d6d6; 
    text-decoration: none;
}

 a:visited {
    color: #d6d6d6; 
    text-decoration: none;
}

 a:hover {
    color: rgb(117, 117, 117); 
    text-decoration: none;
}


 a:active {
    color: rgb(0, 0, 0); 
    text-decoration: none;
}
aside img {
    height: 50px;
    float: left;
}

aside .logo {
    color: #ffffff;
    font-size: 33px;
    font-family: "PIXY";
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 5px;
   
}

code {
    padding-left: 130px;
    color: #36a2e8;
    
}

@font-face {
    font-family: "PIXY"; 
    src: url(../fonts/PIXY/PIXY.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

  @font-face {
    font-family: "Podkova"; 
    src: url(../fonts/Podkova/Podkova-VariableFont_wght.ttf) format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 